
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.9);
}


/* content --> form wrapper */
.content {
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(65, 64, 62);
    padding: 14px 28px;
    border-radius: 30px;
    width: 35vw;
    min-width: 400px;
    border: 2px solid rgb(206, 170, 91);
    z-index: 101;
}
.content form{
    margin-top:1em;
}

.content form div{
    margin: 35px 0 10px 20px;
}
.content form div input,
.content form div textarea{
    width: 95%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    resize: none;
    border: 2px solid rgb(56, 56, 56);
}
.content form div textarea{
position: initial;
top: 2.5em;
left: 40%;
height: 250px;
padding-top: 10px;
margin-bottom: 15px;
}
.content .submit{
position: absolute;
right:50%;
transform: translate(50%);
bottom:1rem;
width: 10rem;
border: none;
background-color: rgb(206, 170, 91);
color: black;
cursor: pointer;
}
.content .submit:hover{
    background: transparent;
    color: rgb(202, 202, 202);
    border: 1px solid rgb(206, 170, 91);
}
/* close button on top of form */
.closeModal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: rgb(202, 202, 202);
    border: 1px solid rgb(206, 170, 91);
}
.closeModal:hover{
    background: rgb(206, 170, 91);;
        color: black;
}



