@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");


.card {
box-shadow: 10px 10px 30px 1px rgb(141, 141, 141);
background: rgba(126, 131, 130, 0.582);
border-radius: 20px;
overflow: hidden;
margin: 15em auto;
height: 23rem;
width: 45rem;
display: flex;
}

.description{
position: relative;
text-align: Center;
overflow: hidden;
padding: 30px;
height: 100%;
float: left;
width: 55%;
}

.description p{
font-family: 'EB Garamond', serif;
text-align: center;
font-size: 18px;
color: #cfcfcf;
}

.description ul li{
text-align: left;
margin-top: 0.5rem;
}

.control{
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;
margin-top: 20px;
margin-left: -15px;
}

.img{
position: relative;
overflow: hidden;
height: 100%;
width: 45%;
}
.img img{
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
transition-duration: 200ms;
}
.img img:hover{
    transform: translateY(10px) scale(1.1);
}

.git{
    width: 50px;
    height: 50px;
    color: rgb(7, 22, 36);
}
.git:hover{
    color: rgb(11, 60, 105);
}

.website a{
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}
.website a:hover{
    text-decoration: underline;
}



@media(max-width:975px){
    .card{
        flex-direction: column;
        height: 45rem;
        width: 30rem;
    }
        .description{
           width: 100%;
        }
        .img{
            width: 100%;
        }
}